/* use tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* utility: justify-self */
@responsive {
  .justify-self-start {
    justify-self: start;
  }
  .justify-self-end {
    justify-self: end;
  }
  .justify-self-center {
    justify-self: center;
  }
}

/* component: PostListing */
.post-listing div {
  border-bottom: 2px solid #EDF2F7;
}
.post-listing:last-child div {
  border-bottom: none;
}
