/* use tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* cursor selection */
::selection {
  @apply bg-indigo-200;
}

/* utility: justify-self */
@responsive {
  .justify-self-start {
    justify-self: start;
  }
  .justify-self-end {
    justify-self: end;
  }
  .justify-self-center {
    justify-self: center;
  }
}

/* component: PostListing */
.post-listing div {
  border-bottom: 2px solid #EDF2F7;
}
.post-listing:last-child div {
  border-bottom: none;
}

/* component: GitHubFollowButton, TwitterFollowButton */
.follow-button:active div {
  @apply shadow-inner;
}

/* component: UserInfo */
.user-info-box-gradient {
  background: rgb(60,54,107);
  background: linear-gradient(153deg, rgba(60,54,107,1) 0%, rgba(67,65,144,1) 50%, rgba(76,81,191,1) 100%);
}

/* markdown post styles */
.post h1 {
  @apply bg-red-500;
}
.post h2 {
  @apply text-2xl font-bold text-gray-800;
}
.post h3 {
  @apply text-xl font-bold text-gray-700;
}
.post h4 {
  @apply text-lg font-bold text-gray-600;
}
.post h1:not(:first-child), .post h2:not(:first-child), .post h3:not(:first-child) {
  @apply mt-16 mb-6;
}
.post p {
  @apply mb-8 text-base leading-relaxed text-gray-800;
}
.post a {
  @apply font-semibold text-indigo-500;
}
.post a:hover {
  @apply text-indigo-700;
}
.post :not(pre)>code {
  @apply text-gray-800;

  background: rgba(0,0,0,.07);
  padding: 2px 3px;
  border-radius: 5px;
}
.post code[class*="language-"], .post pre[class*="language-"], .post pre code {
  @apply my-8 text-base whitespace-pre-wrap rounded-md;
}
.post :not(pre)>code::selection {
  @apply text-gray-900 bg-indigo-200;
}
